<!DOCTYPE html>
<html ng-app="LunchCheck">
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <style> body{font-size: 1.2em;}</style>
        <title>Lunch Checker</title>
    </head>
<body ng-app="LunchCheck">
<h1>Lunch Checker</h1>
<div ng-controller='LunchCheckController'>
   Enter items for lunch:<br>
   <input type="text"
   ng-model="name">
    <div>
        <button ng-click="Check()">Check If Too Much</button>
   <br>
    </div>
    <div>
        <br>Final answer message is :{{finalMsg}}</div>
</div>

</body>
</html>

